<main class="content">
    <div class="container">
        <div class="catalog-block">
            <div class="catalog-title">Каталог</div>
            <div class="catalog di-flex"></div>
        </div>
        <div class="cart-block">
            <div class="cart-title">Корзина</div>
            <div class="cart-list di-flex"></div>
            <button class="cart-btn">очистить корзину</button>
        </div>
        <form action="" method="post">
            <fieldset>
                <!-- <legend>Зарегистрируйтесь</legend> -->
                <p>Зарегистрируйтесь</p>
                <p><label class="title" for="name">Ваше имя:</label>
                    <input type="text" name="name" id="name"><br />
                    <label class="title" for="email">Ваш email:</label>
                    <input type="text" name="email" id="email">
                </p>
                <span class="title">Уже зарегистрированы?</span>
                <label><input type="radio" name="member" value="yes" /> Да</label>
                <label><input type="radio" name="member" value="no" /> Нет</label></p>
            </fieldset>
            <div class="submit"><input type="submit" value="Регистрация" /></div>
        </form>
    </div>
</main>
