<!--<main class="content">-->
<main class="content-admin">
    <p style="text-align: right;">{{context.data}}</p>
    <div class="elem-admin">
        <hr>
        <h3>Список направлений</h3>
        <ul>
            {% for item in objects_list %}
            <li>
                {{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
            </li>
            {% endfor %}
        </ul>
        <h4>Создание направления</h4>
        <form method="post">
            <input type="text" name="name" placeholder="Название">
            <button type="submit">Сохранить</button>
        </form>
    </div>

    <div class="elem-admin">
        <hr>
    </div>
</main>
