* {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}

.header-block {
    /* background-color: beige; */
    background-color: rgb(213, 232, 248);

    /* margin: 0 auto;
    width: 100vh; */
}

.hearder-title {
    margin: 0 16px;
}

.menu-top {
    display: flex;
    /* justify-content: space-between; */
    justify-content: end;
    padding: 10px 50px;
}
/* 
.form-search { 
    font-size: 16px;
    margin: 5px;
} */

.cart-button {
  font-size: 16px;
  padding: 10px 20px;
  border: unset;
  border-radius: 10px;
  background-color: white;
  transition: .3s;
  box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}

.cart-button:hover {
  color: white;
  background-color: black;
}



  



.good {
    border: 1px solid #000;
    /* margin-bottom: 5px; */
    /* background: whitesmoke; */
    background-color: rgba(213, 241, 222, 0.151);


    /* width: 200px; */
    /* height: 300px; */
    padding: 5px;
    margin: 5px 10px;
    box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
}

.item-catalog {
    margin: 0 2px 5px;
    flex: auto;
    max-width: 200px;
    min-width: 120px;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* .content {
    flex-grow: 1;
    margin: 0 16px;

    display: flex;
    flex-direction: column;
} */


.di-flex {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}



footer {
    color: white;
    background-color: rgb(56, 56, 160);
    margin-top: 46px;
}

/* .footer {
    margin: 0 auto;
    align-self: center;
    width: 100vh;
} */

.notice {
    margin: 24px 24px 0 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.h1-main{
    margin: 30px;
}

.text_p {
    padding-left: 10px;
}

fieldset {
    width: 310px;
    margin-top: 20px;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    line-height: 1.6em;
    padding-left: 10px;
}
.title {
    float: left;
    width: 160px;
    clear: left;
}
input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;
}
input[type="text"]:focus,
input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 1px solid #999999;
}
input[type="submit"] {
    /* border: 1px solid #006633; */
    border: 1px solid #001866;
    background-color: rgba(56, 56, 160, 0.651);
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}
input[type="submit"]:hover {
    border: 1px solid #001866;
    background-color: rgba(56, 113, 160, 0.651);
    color: #ffffff;
    cursor: pointer;
}
